.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
  }
  
  .top-bar input[type="text"] {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .top-bar button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  /* Estilo del acordeón */
.accordion-btn {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  
  .accordion-btn:hover {
    background-color: #0056b3;
  }
  
  .accordion-panel {
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  /* Ocultar contenido adicional por defecto */
  .additional-info {
    font-family: Arial, sans-serif;
    color: #333;
    display: none;
  }
  
  /* Mostrar contenido adicional cuando el acordeón está activo */
  .accordion-panel.active .additional-info {
    display: flex;
    flex-wrap: wrap;
  }
  
  .box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    flex: 1 0 20%; /* Para dividir en 4 columnas */
  }
  
  .button-container {
    width: 100%;
    margin-top: 10px;
  }
  
  .action-button {
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #0056b3;
  }
  