{% extends './base.html' %}
{% block title %}Plan Estrategico{% endblock %}

{% block body %}
{% include './vistas/menu.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/crear-plan.css')}}" />

<div class="contenido">
  <div class="ancho">
    <div class="formulario">
      <h2>Crear Plan Estrategico</h2>
      <form action="{{ url_for('crearplan') }}" method="POST">
        <div class="container-form">
          <div class="general">
            <label for="nombre_empresa">Nombre de la Empresa:</label>
            <input type="text" id="nombre_empresa" name="nombre_empresa" required />
            <label for="mision">Misión:</label>
            <textarea id="mision" name="mision" rows="4" required style="width: 90%"></textarea>
            <label for="vision">Visión:</label>
            <textarea id="vision" name="vision" rows="4" required style="width: 90%"></textarea>
          </div>
          <div class="valores">
            <div id="valores-container" style="display: flex; flex-wrap: wrap;">
              <div id="valor1-div" style="flex: 1 0 45%;">
                <label for="valores1">Valor 1:</label>
                <input type="text" id="valores1" name="valores1" />
              </div>
              <div class="botones-valores" style="flex: 1 0 45%;">
                <button type="button" onclick="addValue()">Añadir Valor</button>
                <button type="button" onclick="removeValue()">Quitar Valor</button>
              </div>
            </div>
          </div>
        </div>
        <div class="botones">
          <button type="submit">Guardar y Continuar</button>
          <button type="button" onclick="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  let valorCount = 1;

  function addValue() {
    if (valorCount < 6) {
      valorCount++;
      const container = document.getElementById('valores-container');
      const div = document.createElement('div');
      div.setAttribute('id', 'valor' + valorCount + '-div');
      div.setAttribute('style', 'flex: 1 0 45%;');
      const label = document.createElement('label');
      label.setAttribute('for', 'valores' + valorCount);
      label.textContent = 'Valor ' + valorCount + ':';
      const input = document.createElement('input');
      input.setAttribute('type', 'text');
      input.setAttribute('id', 'valores' + valorCount);
      input.setAttribute('name', 'valores' + valorCount);
      div.appendChild(label);
      div.appendChild(input);
      container.insertBefore(div, container.querySelector('.botones-valores'));
    }
  }

  function removeValue() {
    if (valorCount > 1) {
      const container = document.getElementById('valores-container');
      const lastDiv = document.getElementById('valor' + valorCount + '-div');
      container.removeChild(lastDiv);
      valorCount--;
    }
  }

  function cancelar() {
    window.location.href = "{{ url_for('inicio') }}";
  }
</script>
{% endblock %}
