{% extends './base.html' %}

{%block title%}Inicio{% endblock %} 


{% block body %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/inicio.css')}}">

<body>
  <div class="wrapper">
    <div class="menu">
      <div class="perfil">
        <img src="ruta/a/la/foto-del-usuario.jpg" alt="Foto de Perfil">
        <span>Nombre de Usuario</span>
      </div>
      <ul>
        <li><a href="#" onclick="mostrarContenido('home')">Home</a></li>
        <li><a href="#" onclick="mostrarContenido('subir-csv')">Subir CSV</a></li>
        <li><a href="#" onclick="mostrarContenido('exportar')">Exportar</a></li>
        <li><a href="#" onclick="mostrarContenido('ajustes')">Ajustes</a></li>
      </ul>
    </div>
    <div class="contenido" id="home">
        {% include './home.html' %}
    </div>
    <div class="contenido" id="subir-csv" style="display: none;">
        {% include './subir-csv.html' %}
    </div>
    <div class="contenido" id="exportar" style="display: none;">
        {% include './exportar.html' %}
    </div>
    <div class="contenido" id="ajustes" style="display: none;">
        {% include './ajustes.html' %}
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/inicio.js') }}"></script>
</body>
{% endblock %}